@model DEV1_2024_Assignment.ViewModels.DetailsViewModel

<div class="container">
    <main role="main" class="pb-3">
        <h2 class="mb-4">@Model.Name</h2>
        <div class="card">
            <div class="card-body">
                <div class="row d-flex m-2">
                    <!-- Col for Image or Visual Content -->
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <img src="@Model.Image" alt="@Model.Name" class="img-fluid" style="max-height: 300px; object-fit: contain;">
                        </div>
                    </div>
                    <!-- Col for Text and Product Details -->
                    <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
                        <h6 class="card-subtitle mb-2 text-muted">@Model.BrandName</h6>
                        <h5 class="card-title">@Model.Name</h5>
                        <p class="card-text">@Model.Details</p>
                        <h1>€ @Model.Price</h1>
                        <p class="card-text"><strong>Stock:</strong> @Model.Stock</p>

                        <!-- Quantity input -->
                        <label for="qty" class="form-label">Quantity</label>
                        <input type="number" class="form-control w-25 mx-auto" id="qty" value="1" min="1" max="100"
                            step="1" required>
                        <br>

                        <!-- Buttons for Add to Cart and Buy Now -->
                        <div class="btn-group">
                            <form method="post" action="@Url.Action("AddToCart", "Products")">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <button type="submit" class="btn btn-outline-secondary me-2"
                                    style="height: fit-content">
                                    <i class="bi bi-cart-plus"></i> Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "Products")" class="btn btn-outline-secondary mt-3">
            <i class="bi bi-arrow-left-circle"></i> Back to Products
        </a>
    </main>
</div>
