<!-- Part of the Index.cshtml View -->
@model DEV1_2024_Assignment.ViewModels.IndexViewModel

<div class="container content-container">
    @if (Model.Products.Count != 0)
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text"><strong>Price:</strong> € @product.Price.ToString()</p>
                            <p class="card-text"><strong>Stock</strong> @product.Stock.ToString()</p>
                            <div class="col d-flex flex-column justify-content-center align-content-center">
                                <form method="post" action="@Url.Action("AddToCart", "Products")">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <button type="submit" class="btn btn-outline-secondary mb-2" style="height: fit-content">
                                        <i class="bi bi-cart-plus"></i> Add to Cart
                                    </button>
                                </form>
                                <a href="#" class="btn btn-outline-secondary" style="height: fit-content">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>No Products Found</div>
    }
</div>
